{% extends "base/main_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "component/_macros.html" as macros %}

{% block title %}Flasky - Welcome{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Write Your Question</h4>
      </div>
      <div class="modal-body">
        <form class="form" method="POST">
            {{ form.hidden_tag() }}
            {{ form.title.label }}
            {{ form.title(class="form-control ask-input", placeholder="Please write the title and description of your question.") }}
            {{ form.submit(class="btn btn-primary btn-md ask-btn") }}
            <button type="button" class="btn btn-default ask-btn" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{ super() }}
{% endblock %}

{% block left_content %}
<div class="option-bar">
	<ul>
		<li><a data-toggle="modal" href="#myModal">Ask</a></li>
		<li><a href="#">Answer</a></li>
		<li><a href="#">Write Article</a></li>
		<li><a href="#">Write Idea</a></li>
	</ul>
</div>
{% include 'component/_activities.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.index') }}
</div>
{% endif %}
{% endblock %}